<center><h1 style="font-family: 'Inria Serif'; font-size:38px">Shri Ramdeobaba College of Engineering and Management<br>Nagpur 440013</h1></center>
<center><h1 style="font-family: 'Inria Serif'; font-size:38px">Department of Computer Science Engineering (AIML)</h1></center>
<center><h2 style="font-family: 'Inria Serif'; font-size:32px">Data Analysis and Visualization Lab - Practical 5</h2></center>

<hr style="border:0px" />
<br/>
<br>
<div class="text aim" style="font-family: 'Inria Serif'; font-size:22px">Name : Pratik Agrawal</div>
<div class="text aim" style="font-family: 'Inria Serif'; font-size:22px">Class : CSE AIML E4</div>
<div class="text aim" style="font-family: 'Inria Serif'; font-size:22px">Roll No : 57</div>
<br>
<div class="text aim" style="font-family: 'Inria Serif'; font-size:28px">Aim : Write a program to perform following statistical test
using user defined functions.
<ol>
<li style="font-family: 'Inria Serif'; font-size:28px">Z test</li>
<li style="font-family: 'Inria Serif'; font-size:28px">T-test</li>
<li style="font-family: 'Inria Serif'; font-size:28px">ANNOVA Test</li>
</ol>
</div>

<div class="text" style="font-family: 'Inria Serif'; font-size:28px"></div>

### <div class="text" style="font-family: 'Inria Serif'; font-size:28px">Importing Libraries</div>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from scipy.stats import norm
from scipy.stats import t

### <div class="text" style="font-family: 'Inria Serif'; font-size:28px">IRIS Dataset</div>

In [2]:
iris_df = pd.read_csv('../data/iris.csv')

In [3]:
iris_df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [4]:
iris_df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [5]:
iris_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

### <div class="text" style="font-family: 'Inria Serif'; font-size:28px">Z Test</div>

In [6]:
def z_test(data, mu, sigma, alpha):
    z = (data.mean() - mu)/(sigma/np.sqrt(len(data)))
    p = 2*(1 - stats.norm.cdf(abs(z)))
    print("Z value: ", z)
    print("P value: ", p)
    if p < alpha:
        print("Reject Null Hypothesis")
    else:
        print("Accept Null Hypothesis")

In [8]:
z_test(iris_df['SepalLengthCm'], 5.84, 0.83, 0.05)

Z value:  0.04918654101975022
P value:  0.9607706369948588
Accept Null Hypothesis

### <div class="text" style="font-family: 'Inria Serif'; font-size:28px">T Test</div>

In [9]:
def t_test(data, mu, alpha):
    t = (data.mean() - mu)/(data.std()/np.sqrt(len(data)))
    p = 2*(1 - stats.t.cdf(abs(t), len(data)-1))
    print("T value: ", t)
    print("P value: ", p)
    if p < alpha:
        print("Reject Null Hypothesis")
    else:
        print("Accept Null Hypothesis")

In [10]:
t_test(iris_df['SepalLengthCm'], 5.84, 0.05)

T value:  0.04930141164702255
P value:  0.9607451200325001
Accept Null Hypothesis

In [11]:
t_test(iris_df['SepalLengthCm'], 5.84, 0.01)

T value:  0.04930141164702255
P value:  0.9607451200325001
Accept Null Hypothesis

### <div class="text" style="font-family: 'Inria Serif'; font-size:28px">ANOVA Test</div>

In [12]:
def anova_test(data1, data2, data3, alpha):
    f, p = stats.f_oneway(data1, data2, data3)
    print("F value: ", f)
    print("P value: ", p)
    if p < alpha:
        print("Reject Null Hypothesis")
    else:
        print("Accept Null Hypothesis")

In [13]:
anova_test(iris_df['SepalLengthCm'], iris_df['SepalWidthCm'], iris_df['PetalLengthCm'], 0.05)

F value:  237.45598625019218
P value:  5.440492586967052e-71
Reject Null Hypothesis

In [14]:
anova_test(iris_df['SepalLengthCm'], iris_df['SepalWidthCm'], iris_df['PetalLengthCm'], 0.01)

F value:  237.45598625019218
P value:  5.440492586967052e-71
Reject Null Hypothesis

### <div class="text" style="font-family: 'Inria Serif'; font-size:28px">Verify The Result With Standard Functions</div>

In [15]:
from statsmodels.stats import weightstats as stests

ztest ,pval = stests.ztest(iris_df['SepalLengthCm'], x2=None, value=5.84)

print(float(pval), float(ztest))

0.9606790945560326 0.04930141164702255

In [17]:
ttest ,pval = stats.ttest_1samp(iris_df['SepalLengthCm'], 5.84)

print(float(pval), float(ttest))

0.9607451200325001 0.04930141164702255

In [19]:
f, p = stats.f_oneway(iris_df['SepalLengthCm'], iris_df['SepalWidthCm'], iris_df['PetalLengthCm'])

print(float(p), float(f))

5.440492586967052e-71 237.45598625019218